:root {
    --border-radius: 5px;
    --border-size: 2px;
    --button-hover-offset: -2px;
    --button-drop-shadow-size: 2px;
    --default-font-family: 'Roboto', sans-serif;
    --green-color: #91CF0F;
    --black-color: #1B1F3B;
    --blue-color: #454ADE;
    --white-color: #FFFFFF;
}

html {
    font-size: 16px;
    font-family: var(--default-font-family);
    /*background-color: #fcfff6;*/
    background-color: var(--black-color);
    overflow-x: hidden;
}

body {
    margin: 0;
}

.blue-bg {
    position: absolute;
    top: 0;
    z-index: -1;
    height: 80%;
    width: 100%;
    background-color: var(--blue-color);
}

#logo {
    margin-top: 50px;
    font-size: 60px;
    color: var(--white-color);
    font-weight: bold;
    text-shadow: 2px 2px 0 var(--black-color);
    text-align: center;
    transition: margin-top 0.3s, opacity 0.2s;
}

.real-file-input {
    display: none;
}

.outer-file-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.file-input {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    cursor: pointer;
    transition: margin-top 0.3s ease-out;
    box-shadow: 0 0 20px 0 #00000075;
    border-radius: var(--border-radius);
}

.file-input-button {
    position: relative;
    background-color: var(--black-color);
    font-weight: bold;
    color: white;
    --transition-time: 0.08s;
    transition: background-color var(--transition-time), box-shadow var(--transition-time), color var(--transition-time), transform var(--transition-time);
    border: solid var(--border-size) var(--black-color);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.file-input-button:hover {
    box-shadow: var(--button-drop-shadow-size) var(--button-drop-shadow-size) 0 var(--button-drop-shadow-size) var(--black-color);
    transform: translate(var(--button-hover-offset), var(--button-hover-offset));
    color: var(--black-color);
    background-color: var(--white-color);
}

.file-input-text {
    border: var(--border-size) solid black;
    overflow: hidden;
    background-color: white;
    width: 250px;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.file-input-text, .file-input-button {
    padding: 8px 12px;
}

.main-table {
    width: 70%;
    margin: 20px auto auto;
}

.tab-contents {
    border: var(--border-size) solid black;
    /*padding: 15px 10px 10px;*/
    padding-top: 5px;
    background-color: white;
    position: relative;
    top: -1px;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.tab-selector-table {
    table-layout: fixed;
    display: table;
    width: 100%;
}

.tab-selector {
    z-index: 2;
    position: relative;
    display: table-cell;
    border: var(--border-size) solid black;
    border-bottom: none;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    background-color: white;
    padding: 10px 14px;
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
}

.inactive-tab {
    background-color: #eeeeee;
    border-bottom: var(--border-size) solid black;
}

.hidden {
    display: none;
}

.code {
    font-family: 'Consolas', monospace;
}

.copy-button {
    display: inline-block;
    cursor: pointer;
    padding: 8px 12px;
    background-color: var(--green-color);
    border-radius: var(--border-radius);
    color: white;
    font-weight: bold;
    position: absolute;
    right: 10px;
}

.tab-text {
    white-space: pre-wrap;
    word-break: break-all;
}

.table-module {
    padding: 10px 10px 10px;
}

.module-separator {
    border-bottom: 1px solid black;
}

.module-header {
    font-weight: bold;

}