:root {
    --border-radius: 8px;
    --border-size: 1px;
    --default-font-family: 'Roboto', sans-serif;
    --green-color: #91CF0F;
}

html {
    font-size: 16px;
    font-family: var(--default-font-family);
    background-color: #fcfff6;
}

.real-file-input {
    display: none;
}

.outer-file-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.file-input {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 200px;
    cursor: pointer;
    transition: margin-top 0.3s ease-out;
}

.file-input-button {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    background-color: var(--green-color);
    font-weight: bold;
    color: white;
}

.file-input-text {
    border: var(--border-size) solid black;
    background-color: white;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    width: 250px;
}

.file-input-text, .file-input-button {
    padding: 8px 12px;
}

.main-table {
    width: 70%;
    margin: 20px auto auto;
}

.tab-contents {
    border: var(--border-size) solid black;
    /*padding: 15px 10px 10px;*/
    padding-top: 5px;
    background-color: white;
    position: relative;
    top: -1px;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.tab-selector-table {
    table-layout: fixed;
    display: table;
    width: 100%;
}

.tab-selector {
    z-index: 2;
    position: relative;
    display: table-cell;
    border: var(--border-size) solid black;
    border-bottom: none;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    background-color: white;
    padding: 10px 14px;
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
}

.inactive-tab {
    background-color: #eeeeee;
    border-bottom: var(--border-size) solid black;
}

.hidden {
    display: none;
}

.code {
    font-family: 'Consolas', monospace;
}

.copy-button {
    display: inline-block;
    cursor: pointer;
    padding: 8px 12px;
    background-color: var(--green-color);
    border-radius: var(--border-radius);
    color: white;
    font-weight: bold;
    position: absolute;
    right: 10px;
}

.tab-text {
    white-space: pre-wrap;
    word-break: break-all;
}

.table-module {
    padding: 10px 10px 10px;
}

.module-separator {
    border-bottom: 1px solid black;
}

.module-header {
    font-weight: bold;
}